@import url("https://fontsgoogleapis.com/csss?family=Lato|Raleway");

body {
  background: url(../img/space.jpg);
  background-attachment: fixed;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Заголовки */
  font-family: "Raleway";
  font-weight: 300;
  color: black;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}



a:hover {
  text-decoration: none;
}


.transparency {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.transparency._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.header {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.fixed {
  background-color: rgb(7, 0, 66);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);

  position: fixed;
  right: 0;
  top: 0;
  left: 0;

  transform: translate3d(0, 0, 0);
}

.header.active {
  background-color: #1e6299b0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.header__logo:hover {
  color: #aaaaaa;
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color .1s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #aaaaaa;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .1s linear;
}

.nav__link:hover {
  color: #aaaaaa;
}

.nav__link:hover:after,
.nav__link:active:after {
  opacity: 1;
}

.nav__link:active {
  color: #aaaaaa; 
}

.section {
  padding: 80px 0;
}

.section_dev {
  padding: 80px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;

  text-align: center;
}

.section__suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333;
}

.section__title {
  color: #1e6299b0;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.section__title_dev {
  color: #ccc;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.section__title-for-img {
  color: #ccc;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 30px auto 30px;

  background-color: #1e6299b0;
}

.section__title-for-img:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 30px auto 30px;

  background-color: #ccc;
}

.section__title_dev:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 30px auto 30px;

  background-color: #ccc;
}

.section__text {
  color: #1e6299b0;
  font-size: 25px;
}

.section__text-for-img {
  color: #ccc;
  font-size: 25px;
}

.section__text_dev {
  color: #ccc;
  font-size: 25px;
}

.card {
  margin: 80px -15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item {
  width: 33.33333%;
  padding: 0 15px;
}

.card__item:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
  border-radius: 10px;
}

.card__item:hover .card__img img {
  opacity: .1;
  border-radius: 10px;
}

.card__item:hover .card__text {
  opacity: 1;
}

.card__img {
  background: linear-gradient(to bottom, #5a1f8a, #2a5199);
  transition: transform .2s linear;
  border-radius: 10px;
}

.card__img img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: opacity .1 linear;
  border-radius: 10px;
}

.card__text a {
  color: #fff;
}

.card__text {
  width: 100%;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);

  transition: opacity .2s linear;
}

.card__info {
  margin-top: 20px;

  text-align: center;
}

.card__name {
  margin-bottom: 5px;

  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.card__prof {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #999;
}

.social__inner {
  position: relative;

  background-color: #1e6299b0;
  border-radius: 10px;
}

.reviews {
  position: relative;
}

.reviews .slick-slider {
  padding: 0 110px;
}

.reviews__item {
  padding: 0px 100px 0px;
  position: relative;
}

.reviews__photo {
  width: 100%;
  height: 450px;

  border: 2px solid #95e1d3;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 5px 5px 10px -2px;
}

.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;
  cursor: pointer;

  border: 0;
  background: none;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.slick-prev {
  left: 0;
  transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
  right: 0;
  transform: rotate(135deg);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#headerwrap h1 {
  margin-top: 100px;
  color: white;
  font-size: 90px;
  font-weight: 300;
  letter-spacing: 3px;
}

#headerwrap h2 {
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.photo {
  width: 270px;
  height: 270px;
  margin: 0 auto;
  overflow: hidden;
  float: right;
  margin: 0 0 5px 5px;
  margin-top: 100px;

  transform: translate(60%, 0px);
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.photo._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.personPhoto {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.about__us-text p {
  color: #ccc;
  font-size: 20px;
}

.about__us-text h4 {
  color: #1e6299b0;
}

.about__us-text i {
  color: #1e6299b0;
  font-size: 30px;
}

.about__us-con {
  display: flex;
}

.about__us-text {
  padding: 0px 20px;
}

._anim-show {
  transform: translate(0px, 60%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

#how__write_i i {
  font-size: 50px;
  color: #ccc;
  padding-bottom: 50px;
}

.munter__img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -2px #00235a;

  transform: scale(0);
  transition: all 0.5s ease 0s;
}

.munter__img._active {
  transform: scale(1);
}

#about__more {
  color: #ccc;
}

.about__more-con {
  display: flex;
}

.about__more-text h1 {
  color: #1e6299b0;
}

.text__more-1,
.text__more-2 {
  padding: 20px;
  font-size: 20px;
}

.text__more-3 {
  padding: 30px;
  font-size: 20px;
  width: 100%;
}

.about__more-1 {
  color: #1e6299b0;
  font-size: 35px;
}

.about__more-a {
  color: #999;
  transition: 1s;
}

.about__more-a:hover {
  color: #1e6299b0;
  transition: 1s;
}

.text__more-1 {
  transform: translate(-40%, 0px);
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.text__more-1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.text__more-2 {
  transform: translate(40%, 0px);
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.text__more-2._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

#photo1 {
width: 400px;
height: 400px;
float: center;
margin-right: 20px;
margin-bottom: 20px;
padding-top: 40px;
  }

.footer__links {
  font-size: 20px;
  color: #ccc;
  padding-bottom: 20px;
  text-align: left;
  }

  
.footer__links i {
  font-size: 40px;
  color :#1e6299b0;
  text-align: left;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__home {
  color: #7b7b7b;
font-size: 30px;
transition: 1s;
float: right;
}

.footer__home:hover {
  font-size: 30px;
  color: #1e6299b0;
  transition: 1s;
  float: right;
}

.my__seti {
  font-size: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.my__seti {
  color: white;
}

.my__seti a {
  color: #7b7b7b;
  font-size: 40px;
  transition: 1s;
  padding-left: 10px;
}

.my__seti a:hover {
  font-size: 40px;
  color: #1e6299b0;
  padding-bottom: 20px;
  transition: 1s;
}

#te {
  color: white;
  font-size: 20px;
  padding-top: 20px;
  float: right;
}

.n {
  padding: 0;
  display: flex;
}

.n1 {
  margin: 0;
  padding: 0;
  display: flex;
  padding-bottom: 20px;
}

.n1 li {
  position: relative;
  list-style-type: none;
  width: 100px;
  height: 100px;
  margin: 0 45px;
  border-radius: 50%;
}

.n1 li:before,
.n1 li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.n1 li:after {
  filter: blur(40px);
}

.n1 li:hover:before,
.n1 li:hover:after {
  opacity: 1;
}

.n1 li a {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 30px;
  background-color: #ff7878;
  border-radius: 50%;
}

.n1 li a i {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  transition: 0.5s;
}

.n1 li a:hover i {
  opacity: 1;
  transform: scale(1.5);
}

.n1 li a p {
  line-height: 0;
  margin-bottom: 0;
  margin-top: 50%;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  transition: 0.5s;
}

.n1 li a:hover p {
  opacity: 1;
  transform: scale(1.5);
}

.n1 li:nth-child(1) a,
.n1 li:nth-child(1):before,
.n1 li:nth-child(1):after {
  background: #f12711;
  background: linear-gradient(45deg, #f12711, #f5af19);
}

.n1 li:nth-child(2) a,
.n1 li:nth-child(2):before,
.n1 li:nth-child(2):after {
  background: #f12711;
  background: linear-gradient(45deg, #11998e, #38ef7d);
}

.n1 li:nth-child(3) a,
.n1 li:nth-child(3):before,
.n1 li:nth-child(3):after {
  background: #f12711;
  background: linear-gradient(45deg, #FF3383, #6B33FF);
}

.n2 {
  margin: 0;
  padding: 0;
  display: flex;
  padding-bottom: 20px;
}

.n2 li {
  position: relative;
  list-style-type: none;
  width: 100px;
  height: 100px;
  margin: 0 45px;
  border-radius: 50%;
}

.n2 li:before,
.n2 li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.n2 li:after {
  filter: blur(40px);
}

.n2 li:hover:before,
.n2 li:hover:after {
  opacity: 1;
}

.n2 li a {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 30px;
  background-color: #ff7878;
  border-radius: 50%;
}

.n2 li a i {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  transition: 0.5s;
}

.n2 li a:hover i {
  opacity: 1;
  transform: scale(1.5);
}

.n2 li a p {
  line-height: 0;
  margin-bottom: 0;
  margin-top: 50%;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  transition: 0.5s;
}

.n2 li a:hover p {
  opacity: 1;
  transform: scale(1.5);
}

.n2 li:nth-child(1) a,
.n2 li:nth-child(1):before,
.n2 li:nth-child(1):after {
  background: #f12711;
  background: linear-gradient(45deg, #33FF61, #9C33FF);
}

.n2 li:nth-child(2) a,
.n2 li:nth-child(2):before,
.n2 li:nth-child(2):after {
  background: #f12711;
  background: linear-gradient(45deg, #ECFF33, #FF3333);
}

.n2 li:nth-child(3) a,
.n2 li:nth-child(3):before,
.n2 li:nth-child(3):after {
  background: #f12711;
  background: linear-gradient(45deg, #FFF700, #1FFF00);
}

.galary-h1 h1 {
  color: #1e6299b0;
}


#participation h1 {
  color: white;
  padding-top: 120px;
  font-size: 50px;
}

#participation p {
  font-size: 30px;
  padding-top: 30px;
  color: white;
}


#participation a {
  color: #7b7b7b;
  font-size: 30px;
  transition: 1s;
}


#participation a:hover {
  color: #1e6299b0;
  transition: 1s;
}


@media (max-width: 1199px) {
  .n {
    display: block;
  }
}


@media (max-width: 990px) {

  .reviews .slick-slider {
    padding: 0 60px;
}

.reviews__photo {
  max-height: 350px;
}

}



@media (max-width: 770px) {

    .header {
        padding: 10px 0;
    }

    .nav {
        display: none;
        width: 100%;

        position: absolute;

        top: 100%;
        left: 0;

        background-color: #81ddcce8;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }
    
    .slider__text {
        display: none;
    }

    .slider__item.active:before {
        width: 50%;
    }

    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__photo {
      min-height: 100%;
    }

    .reviews__author {
        font-size: 20px;
    }

    .footer__links {
      font-size: 18px;
    }

    .footer__links i {
      font-size: 30px;
    }

    .footer__home {
      font-size: 25px;
    }

    .footer__home:hover {
      font-size: 25px;
    }

    .my__seti i {
      font-size: 30px;
    }

    .my__seti {
      font-size: 25px;
    }

}

@media (max-width: 625px) {

  .n2 li {
    margin: 0 20px;
  }

  .n1 li {
    margin: 0 20px;
  }
  
}


@media (max-width: 575px) {

    .intro__suptitle {
        font-size: 25px;
    }

    .intro__title {
        font-size: 45px;
    }

    .section__header {
        margin-bottom: 50px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }
    
    .section__title:after {
        margin: 20px auto;
    }

    .reviews .slick-slider {
        padding: 0;
    }

    .slick-arrow {
        top: 18%;
    }

    .footer__links {
      text-align: center;
      font-size: 15px;
    }

    .footer__links i {
      font-size: 22px;
    }

    .footer__home {
      font-size: 20px;
      display: none;
    }

    .footer__home:hover {
      font-size: 20px;
    }

    .my__seti i {
      font-size: 22px;
    }

    .my__seti {
      font-size: 20px;
    }

    #te {
      font-size: 16px;
    }

    .reviews__photo {
      width: 100%;
      height: 100%;
    }

  }


  @media (max-width: 480px) {

  .n1 li {
    margin: 0 10px;
  }

  .n2 li {
    margin: 0 10px;
  }
  }

  @media (max-width: 425px) {

    .n1 li {
      margin: 0;
    }
  
    .n2 li {
      margin: 0;
    }
    }