@import url("https://fontsgoogleapis.com/csss?family=Lato|Raleway");

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Заголовки */
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: #f85c37;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
  font-size: 20px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}







.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}




.navbar-inverse {
  background: #2d2d2d;
  background-color: #2d2d2d;
}





.navbar-inverse .navbar-brand {
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand:hover {
  font-size: 30px;
}




#headerwrap {
  background-image: url(../img/header-bg.png);
  background-attachment: fixed;
  margin-top: -10px;
  padding-top: 22px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}






#headerwrap h1 {
  margin-top: 100px;
  color: white;
  font-size: 90px;
  font-weight: 300;
  letter-spacing: 3px;
}





#headerwrap h2 {
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}





.photo {
  width: 270px;
  height: 270px;
  margin: 0 auto;
  overflow: hidden;
  float: right;
  margin: 0 0 5px 5px;
  margin-top: 100px;
}




.personPhoto {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}





#o {
  background: #2d2d2d;
  padding-top: 5px;
  padding-bottom: 70px;
}





#o h1 {
  color: white;
}





#o h4 {
  color: #ff7878;
}





#o {
  color: white;
}





#o i {
  font-size: 40px;
  padding: 30px;
  color: #ff7878;
  padding-top: 70px;
  padding-bottom: 10px;
}





.w {
  padding-top: 35px;
}




.w h4 {
  font-size: 25px;
}





#wdg {
  background-image: url(../img/c06.png);
  background-attachment: fixed;
  margin-top: -10px;
  padding-bottom: 50px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}




#wdg p {
  color: white;
  font-size: 30px;
  padding-top: 70px;
}




#wdg h1 {
  color: white;
  padding-top: 50px;
}

.test10 {
  padding-top: 50px;
  padding-bottom: 50px;
}


.te00st1 {
  border: 3px solid #ff7878;
  width: 100%;
}

#dg h4 {
  font-size: 40px;
  color: white;
  padding-top: 70px;
}




#dg {
  background: #2d2d2d;
}




#dg p {
  color: white;
  font-size: 30px;
  padding-top: 70px;
  padding-bottom: 100px;
}




.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}




.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}





.wb {
  padding-top: 35px;
  margin-bottom: 0px;
}




.wb h4 {
  font-size: 35px;
}





#r {
  background-image: url(../img/c07.png);
  background-attachment: fixed;
  padding-top: 22px;
  margin-top: -10px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 1px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}





#r h4 {
  color: white;
  font-size: 45px;
  padding-bottom: 0px;
}

#r p {
  padding-top: 50px;
  padding-bottom: 70px;
  font-size: 30px;
  color: white;
}


#rp {
  color: white;
  font-size: 30px;
  padding: 20px;
}




#ar i {
  font-size: 40px;
  color: white;
}





/* стили для 2 страницы*/



#ob {
  background: #2d2d2d;
  padding-top: 5px;
  padding-bottom: 50px;
  color: white;
}





#ob h1 {
  padding-top: 5px;
  color: white;
}





#text1 {
  padding: 20px;
  padding-top: 50px;
  font-size: 20px;
}






#text2 {
  padding: 20px;
  padding-top: 50px;
  font-size: 20px;
  padding-bottom: 10px;
}





#d {
  color: white;
}





#photo1 {
width: 400px;
height: 400px;
float: center;
margin-right: 20px;
margin-bottom: 20px;
padding-top: 40px;
  }

 


#test2 {
  background-image: url(../img/c06.png);
  background-attachment: fixed;
  margin-top: -10px;
  padding-top: 22px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}




.testt {
  font-size: 20px;
  color: white;
  padding-bottom: 80px;
}


.testt i {
  font-size: 40px;
  color: #ff7878;
}

#testtt {
  background: #2d2d2d;
  padding-top: 10px;
  padding-bottom: 10px;
}


.tessttt {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
}


.tesssttt {
  color: #7b7b7b;
font-size: 30px;

}


.tesssttt:hover {
  font-size: 30px;
  color: white;
}



.t {
  font-size: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 15px;
}


.t {
  color:white;
}

.t a {
  color: #7b7b7b;
  font-size: 30px;
}

.t a:hover {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
}


#te {
  color: white;
  font-size: 20px;
  padding-top: 20px;
  float: right;
}


#ob2 {
  background: #2d2d2d;
  padding-top: 20px;
  padding-bottom: 50px;
  color: white;
}


.test1010 a:hover {
   font-size: 22px;
}



#ob2 h1 {
  padding-top: 5px;
  color: white;
}



#ob2 .col-lg-4 {
  font-size: 22px;
  padding-top: 50px;
}



.test555 {
  padding-top: 15px;
}
 


.test55 i {
  font-size: 35px;
}


#ob2 i:hover {
  color: white;
}


#ob2 i {
 color: #ff7878;
}



.test45 i {
  font-size: 28px;
}



#dg2 {
  background-image: url(../img/c06.png);
  background-attachment: fixed;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 300px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}


#dg2 h1 {
  color: white;
  padding-top: 20px;
}

#dg2 p {
  font-size: 25px;
  padding-top: 30px;
}


#dg2 a {
  color: #7b7b7b;
  font-size: 25px;
}


#dg2 a:hover {
  color: white;
}



#test0 {
  background-image: url(../img/c06.png);
  background-attachment: fixed;
  margin-top: -10px;
  padding-top: 22px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 150px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}


#test0 {
  font-size: 30px;
  color: white;
}


#test0 a {
  color: #7b7b7b;
  font-size: 30px;
}


#test0 a:hover {
  color: white;
  font-size: 30px;
}


.test0000 {
  background-color: #2d2d2d;
  min-height: 400px;
}


.test00 h1 {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}


.test000 {
    font-size: 22px;
    color: white;
}


.dost {
  color:white;
}


.dost a {
  color: #7b7b7b;
  font-size: 25px;
}



.dost a:hover {
  color: white;
}

.dosta {
  padding-bottom: 10px;
  padding-top: 10px;
}

   

/* СЛАЙДЕР*/


.slider {
  position: relative;
  overflow: hidden;
  background-image: url(../img/c06.png);
  background-attachment: fixed;
  margin-top: -10px;
  padding-top: 22px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 150px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}


.slider__item img {
  width: 50%;
  height: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* СЛАЙДЕР*/





.test101010 {
  background-color: #2d2d2d;
}



.test101010 h1 {
  color: white;
  padding-bottom: 50px;
  padding-top: 20px;
}
